<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>日付・時間追加</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>日付・時間を追加</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('product.list') }}">日付・時間一覧</a></li>
        <li>新しい日付・時間</li>
    </ul>

    <form action="{{ url_for('product.add') }}" method="post">
        <label>日付: <input type="date" name="name" required></label><br>
        
        <label>時間: 
            <select name="price" required>
                {% for i in range(24) %}
                    <option value="{{ i }}">
                        {{ i }}:00
                    </option>
                {% endfor %}
            </select>~
        </label><br>
        <button type="submit">追加</button>
    </form>
</body>
</html>